.Auth input {
	border: none;
	border-bottom: solid 1px gray;
	border-radius: 0;
	font-weight: bold;
	color: black;
	/* margin: 10px; */
}
.Auth {
	border: solid 1px gray;
	padding: 10px;
	border-radius: 6px;
	background-color:rgb(41, 200, 192);
}
.googleLogin svg {
	font-size: 52px;
}
